section#about(data-aos="fade-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom")
    .container
        .row
            .col-6
                .about-img(data-aos="fade-right" data-aos-duration="1000" data-aos-anchor-placement="center-bottom")
                    img(src="img/Group 104.png" alt="").img-fluid
            .col-6
                .about-content(data-aos="fade-left" data-aos-duration="1000" data-aos-anchor-placement="center-bottom")
                    .title.text-uppercase.mb-5
                        h3 О клубе
                    .advantages.d-flex.mb-5
                        .advantage
                            img(src="img/Group 100 (1).png")
                            p.advantage-text Название преимущества 1
                        .advantage
                            img(src="img/Group 102.png")
                            p.advantage-text Название преимущества 2
                        .advantage
                            img(src="img/Group 101.png")
                            p.advantage-text Название преимущества 3
                    .text
                        p Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
                        p Постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуслваливает создание модели развития. Равным образом сложившаяся структура организации обеспечивает широкому кругу.
