section#carousel
    .container
        .row
            .col-12
                .slick1.text-center
                    - let n = 0
                    while n < 5
                        .item(id='slickItem'+n++)
                            .title.mb-5
                                h2="Мужской стриптиз клуб "+n
                            .content.mb-5
                                p Семантический разбор внешних противодействий предоставляет широкие возможности для форм воздействия. Для современного мира убежденность некоторых оппонентов однозначно определяет.
                            .bottom
                                button.btn.kruzheva-btn Подробнее
