section#gallery(data-aos="fade-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom")
    .top
        .container
            .row.align-items-center.text-center.mb-1
                .col-12.col-lg-2.order-3.order-lg-1
                    .all-photos
                        a(href="#") Все фото
                .col-12.col-lg-8.order-1.order-lg-2
                    .title.text-uppercase
                        h3 Фотогалерея
                .col-12.col-lg-2.order-4.order-lg-3
                    .slick-controls-gallery
        .content.mt-4.mb-4
            .container-fluid
                .row
                    .col-12
                        .slick-gallery.m-auto
                            - let n = 1
                            while n < 6
                                - d = (100*n).toString()
                                .item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay=d data-aos-anchor-placement="center-bottom")
                                    .card.card-hover
                                        .card-wrap
                                        img(src="img/Maskgroup"+n+".png" alt=""+n++).img-fluid
