section#services(data-aos="fade-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom")
    .top
        .container
            .row.align-items-center.text-center.mb-1
                .col
                    .all-services
                        //a(href="#") Все мероприятия
                .col
                    .title.text-uppercase
                        h3 Услуги клуба
                .col
                    .slick-controls-services
    .content
        .container-fluid
            .row
                .col-12
                    .slick-services.m-auto
                        - let n = 1
                        while n < 6
                            - d = (100*n).toString()
                            .item(data-aos="zoom-out" data-aos-duration="1000" data-aos-delay=d data-aos-anchor-placement="center-bottom")
                                .card
                                    .card-wrap
                                    img(src="img/svc_img"+n+".png").img-fluid
                                    .card-body
                                        h5.card-title="Название услуги "+n++
                                        p.card-text
                                            a(href="tel:+79128577186" data-phone="+79128577186") Заказать по телефону
