doctype html

html(lang="ru")
    include includes/head
    body
        include includes/loader
        include includes/mainmenu
        include includes/header
        include includes/carousel
        include includes/afisha
