extends ../includes/layout

block content
    section#page.mt-5(data-aos="fade-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom").mb-0
        .container
            .title.text-center.mb-5
                h3 О клубе
            .content.text-justify
                p Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуслваливает создание модели развития. Равным образом сложившаяся структура организации обеспечивает широкому кругу.
                p Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуслваливает создание модели развития. Равным образом сложившаяся структура организации обеспечивает широкому кругу.p Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуслваливает создание модели развития. Равным образом сложившаяся структура организации обеспечивает широкому кругу.
    include ../includes/gallery

