extends ../includes/layout

mixin menutab(title, num)
    .title.text-center.mb-5
        h4=title
    table(id = "menuTable"+num).table.table-striped.table-dark.table-borderless
        thead.d-none.d-lg-block
            tr.row.text-center
                th(scope="row").col-12.col-lg-2.sort(data-sort = "dishName") Название
                    i.fas.fa-chevron-down
                th(scope="col").col-12.col-lg-8
                th(scope="col").col-12.col-lg-1.sort(data-sort = "dishPrice") Цена
                    i.fas.fa-chevron-down
                th(scope="col").col-12.col-lg-1.sort(data-sort = "dishWeight") Вес
                    i.fas.fa-chevron-down
        tbody.list
            - let n = 1
            - let p = 0.8
            while n < 12
                - p = Math.floor(Math.random() * Math.floor(5000))
                tr.row.align-items-center
                    th(scope="row").col-12.col-lg-2.text-center.dishName="Название "+n++
                    td.col-12.col-lg-8="Здесь вы "+n+" можете создать/редактировать сниппеты. Помните, сниппеты — это «сырой» PHP-код, и если вы собираетесь делать вывод из сниппета, который будет в определенном месте шаблона, вам необходимо вернуть значение из сниппета."
                    td.col-12.col-lg-1.text-right.dishPrice=""+p+" руб"
                    td.col-12.col-lg-1.text-right.dishWeight 200 гр

block content
    section#pagecontent.page-menu.mt-5.mb-5(data-aos="fade-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom")
        .container
            .title.text-center.m-5
                h3 Меню
            nav
                .nav.nav-tabs.justify-content-center.text-center#nav-tab(role="tablist")
                    a.nav-item.nav-link.active#nav-home-tab(data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true")
                        img(src="img/1.png")
                        p Ресторанное меню
                    a.nav-item.nav-link#nav-profile-tab(data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false")
                        img(src="img/2.png")
                        p Crazy меню
                    a.nav-item.nav-link#nav-contact-tab(data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false")
                        img(src="img/3.png")
                        p Кальянное меню

            .tab-content#nav-tabContent
                .tab-pane.fade.show.active#nav-home(role="tabpanel" aria-labelledby="nav-home-tab")
                    +menutab("Ресторанное меню", "1")
                .tab-pane.fade#nav-profile(role="tabpanel" aria-labelledby="nav-profile-tab")
                    +menutab("Crazy меню", "2")
                .tab-pane.fade#nav-contact(role="tabpanel" aria-labelledby="nav-contact-tab")
                    +menutab("Кальянное меню", "3")
