extends ../includes/layout

block content
    section#pagecontent.mt-5(data-aos="fade-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom").mb-0
        .container
            .title.text-center.text-uppercase.mb-5
                h3 Привилегии клуба
            .content.text-justify
                p Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуслваливает создание модели развития. Равным образом сложившаяся структура организации обеспечивает широкому кругу.
                p Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуслваливает создание модели развития. Равным образом сложившаяся структура организации обеспечивает широкому кругу.p Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуслваливает создание модели развития. Равным образом сложившаяся структура организации обеспечивает широкому кругу.
            .row.d-flex
                .col-6
                    .card.privilege-card.text-center.p-5
                        img(src="img/Mask%20Group%20(4).png").card-img-top.img-fluid
                        .card-body.position-relative
                            h4.card-title.text-uppercase.m-3="Premium card"
                            p.card-text В рамках спецификации рамках спецификации  рамках спецификации рамках спецификации рамках спецификации современных стандартов, предприниматели в сети.
                            button.btn.kruzheva-btn.m-5 Закзать карту привилегий
                .col-6
                    .card.privilege-card.text-center.p-5
                        img(src="img/Mask%20Group%20(5).png").card-img-top.img-fluid
                        .card-body.position-relative
                            h4.card-title.text-uppercase.m-3="Privilege card"
                            p.card-text В рамках спецификации рамках спецификации  рамках спецификации рамках спецификации рамках спецификации современных стандартов, предприниматели в сети.
                            button.btn.kruzheva-btn.m-5 Закзать карту привилегий

